#copied-alert{
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(2, 70, 2);
    padding: 0.5vw;
    border-radius: 0.4vw;
    margin-top: 3px;
    color: rgb(6, 214, 6);
    border: 0.1vw solid rgb(6, 214, 6);
    display: flex;
    align-items: center;
    font-size: max(0.8vw, 7px);
}

.invisible{
    display: none !important;
}

.copied-icon{
    width: 1.5vw;
    height: auto;
    max-width: 12px;
    margin-right: 1vw;
}