:root {
    --NumItems: 30;
    --itemSize: 300px;
}

#tech-container {
    height: 9.5vw;
    min-height: 70px;
    margin-top: 10px;
    display: flex;
    column-gap: 5%;
    margin-top: 10px !important;
    margin-bottom: 10vw;
    overflow: hidden;
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white;

}

.tech-logo {
    width: 5vw;
    height: 5vw;
    min-width: 40px;
    min-height: 40px;
    filter: drop-shadow(0 0 1px white)drop-shadow(0 0 1px white);

}

.tech-text {
    font-size: max(1.2vw, 10px);
    text-align: center;
    /*text-shadow: 0 0 0.05vw white, 0 0 0.05vw white, 0 0 0.05vw white, 0 0 0.05vw white;*/

}

.slide-track {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1vw;

}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(var(--itemSize) * var(--NumItems));

}

.slider .slide-track:hover {
    animation-play-state: paused;

}

.slider .slide-track:hover .slide:hover {
    color: transparent;
  
}

.slider .slide-track:hover .slide:hover .tech-logo {
    transform: scale(1.4);
  
}



.slider .slide {
    height: auto;
    width: var(--itemSize);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc((var(--itemSize) * -1)* (var(--NumItems)/2)));
    }
}



.tech-item[name] {
    position: relative;
}

.tech-item:hover::after {
    content: attr(name);
    position: absolute;
    bottom: -0.15vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    padding: 4px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    font-size: max(1vw, 10px);
}

.tech-item:hover::after {
    opacity: 1;
    visibility: visible;
}