@font-face {
  font-family: 'SpaceGrotesk-Regular';
  src: url('./fonts/SpaceGrotesk-Regular.ttf') format('truetype');

}
* {
  margin: 0;
  padding: 0;
  font-family: 'SpaceGrotesk-Regular';
}

:root {
  --BG-Color: rgb(10, 33, 107);
  --textColor: white;
  --dropShadow: drop-shadow(0 0 0.1vw white);
}
.App{
  display: flex;
  flex-direction: column;

}



#rectangle-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--BG-Color);
  /*
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 53% 100%);
  */
  z-index: -1;
  pointer-events: none;
}

#rectangle-background2 {
  
  /*
  opacity: 0.5;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(0deg, var(--BG-Color), var(--BG-Color) 2px, #fff 1px, #fff);
  */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: white;
  clip-path: polygon(0 0, 5% 0, 60% 100%, 0% 100%);
  pointer-events: none;
}

#name-container {
  margin-top: 20px;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}
#name-subcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
#name-contact-container{
  display: flex;
  gap: 3vw;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

#name {
  color: var(--BG-Color);
  font-size: max(2vw, 14px);
  color: var(--textColor);
  text-shadow: 0 0 1px var(--BG-Color),  0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color);
}

#title {
  font-size: max(1vw, 10px);
  color: var(--textColor);
  text-shadow: 0 0 1px var(--BG-Color),  0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color);
}

#photo-container {
  background-color: var(--BG-Color);
  border: 0.3vw solid white;
  border-radius: 50%;
  width: 12vw;
  height: auto;
  min-width: 70px;
  min-height: 70px;
  margin-right: 2vw;
  aspect-ratio: 1/1
}

#photo {
  width: 100%;
  border-radius: 50%;
  filter: var(--dropShadow) var(--dropShadow);
  

}

.cristal {
  display: inline-block;
  padding: 20px;
  text-indent: 1vw;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.38);
  text-align: justify;
  z-index: 1;
}

.cristal > h3{
  margin-bottom: 10px;
  text-indent: 0px;
  font-size: max(2vw, 12px);
  color: var(--BG-Color);
}
.cristal > ul,
.cristal > p{
  margin-bottom: 5px;
  font-size: max(1vw, 10px);
  color: var(--BG-Color);
}
.cristal > ul{
  margin-left: 2vw;
}

ul > ol{
  margin-left: 2.2vw;
}

#address-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  row-gap: 3vw;
}
.SVG-address-container{
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: max(0.8vw, 7px);
  text-shadow: 0 0 1px var(--BG-Color),  0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color), 0 0 1px var(--BG-Color);
  font-style: normal;
}
.SVG-address-container:hover{
  color: aqua;

}

.SVG-address-container:hover > .SVG-ADDRESS-ICON{
  fill: aqua;

}

.SVG-ADDRESS-ICON{
  width: 1.3vw;
  height: auto;
  fill: white;
  min-width: 12px;
  min-height: 12px;
  filter: drop-shadow(0 0 1px var(--BG-Color)) drop-shadow(0 0 1px var(--BG-Color));
}


#body-container{
  margin: 5px 3px 3px 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

.cristal:nth-child(1){
  grid-column-start: span 2;
}
.cristal:nth-child(3){
  grid-row-start: span 2;
}


@media (max-width: 539px) {
  #body-container{
    margin: 5px 3px 3px 3px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
  }

  .cristal:nth-child(1){
    grid-column-start: span 1;
  }
  .cristal:nth-child(3){
    grid-row-start: span 1;
  }
  
}